<settings>
	<setting id="MessageID" label="Last Announcement ID received" type="text" default="0" visible="false" />
	<setting id="uname" label="30000" type="text" default=""/>
	<setting id="pwd"   label="30001" type="text" option="hidden" default=""/>
	<setting id="whatson" label="30002" type="bool" default="true" />
	<setting id="video_stream" label="30003" type="enum" values="Mobile Quality|Low Quality|Standard Quality|High Quality" default="2" />
	<setting id="realname" label="30004" type="bool" default="true" />
	<setting id="autoupdate" label="30005" type="bool" default="false" />
	<setting id="BBC_One" label="3007" type="bool" default="true" />
	<setting id="BBC_Two" label="3008" type="bool" default="true" />
	<setting id="ITV1" label="3009" type="bool" default="true" />
	<setting id="Channel_4" label="3010" type="bool" default="true" />
	<setting id="Channel_5" label="3011" type="bool" default="true" />
	<setting id="ITV1+1" label="3012" type="bool" default="true" />
	<setting id="Channel_4_+1" label="3013" type="bool" default="true" />
	<setting id="Channel_5_+_1" label="3014" type="bool" default="true" />
	<setting id="BBC_Three" label="3015" type="bool" default="true" />
	<setting id="BBC_Four" label="3016" type="bool" default="true" />
	<setting id="ITV2" label="3017" type="bool" default="true" />
	<setting id="ITV2_+1" label="3018" type="bool" default="true" />
	<setting id="ITV3" label="3019" type="bool" default="true" />
	<setting id="ITV3_+1" label="3020" type="bool" default="true" />
	<setting id="ITV4" label="3021" type="bool" default="true" />
	<setting id="ITV4_+1" label="3022" type="bool" default="true" />
	<setting id="E4" label="3023" type="bool" default="true" />
	<setting id="E4_+1" label="3024" type="bool" default="true" />
	<setting id="More_4" label="3025" type="bool" default="true" />
	<setting id="More4_+1" label="3026" type="bool" default="true" />
	<setting id="Film_4" label="3027" type="bool" default="true" />
	<setting id="Film4_+1" label="3028" type="bool" default="true" />
	<setting id="4seven" label="3029" type="bool" default="true" />
	<setting id="Dave" label="3030" type="bool" default="true" />
	<setting id="5USA" label="3031" type="bool" default="true" />
	<setting id="5USA_+_1" label="3032" type="bool" default="true" />
	<setting id="5*" label="3033" type="bool" default="true" />
	<setting id="5*_+_1" label="3034" type="bool" default="true" />
	<setting id="CBBC_Channel" label="3035" type="bool" default="true" />
	<setting id="CBeebies" label="3036" type="bool" default="true" />
	<setting id="CITV" label="3037" type="bool" default="true" />
	<setting id="Pick_TV" label="3038" type="bool" default="true" />
	<setting id="Challenge" label="3039" type="bool" default="true" />
	<setting id="Quest" label="3040" type="bool" default="true" />
	<setting id="Yesterday" label="3041" type="bool" default="true" />
	<setting id="Really" label="3042" type="bool" default="true" />
	<setting id="Insportive" label="3043" type="bool" default="true" />
	<setting id="Red_Button" label="3044" type="bool" default="true" />
	<setting id="BBC_News" label="3045" type="bool" default="true" />
	<setting id="BBC_Parliament" label="3046" type="bool" default="true" />
	<setting id="Sky_News" label="3047" type="bool" default="true" />
	<setting id="Al_Jazeera" label="3048" type="bool" default="true" />
	<setting id="Clubbing_TV" label="3049" type="bool" default="true" />
	<setting id="BritAsia_TV" label="3050" type="bool" default="true" />
	<setting id="4Music" label="3051" type="bool" default="true" />
	<setting id="Viva" label="3052" type="bool" default="true" />
	<setting id="Channel_AKA" label="3053" type="bool" default="true" />
	<setting id="Vintage_TV" label="3054" type="bool" default="true" />
	<setting id="Movies4Men" label="3055" type="bool" default="true" />
	<setting id="Movies4Men_+1" label="3056" type="bool" default="true" />
	<setting id="QVC" label="3057" type="bool" default="true" />
	<setting id="Docubox" label="3094" type="bool" default="true" />
	<setting id="Fightbox" label="3096" type="bool" default="true" />
	<setting id="Fashionbox" label="3111" type="bool" default="true" />
</settings>
